<style>
    .inicioNavLink {
        background-color: rgba(140, 172, 150, 0.562);
    }
</style>

<main>
    <div class="columnas">
        <section class="novedades">
            <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Novedades</h1>
            {{#if admin}}
                <a href="/agregar" style="color: black;"><i class='bx bxs-message-add addBtn1'></i></a>
            {{/if}}
            <ul>
                {{#each novedades}}
                    <li>
                        <div class="noticia">
                            <h4>{{titulo}}</h4>
                            <p>{{cuerpo}}</p>
                            {{#if ../admin}}
                                <a href="/deleteNew/{{id}}"><i class='bx bx-x elimBtn'></i></a>
                                <a href="/editNew/{{id}}"><i class='bx bxs-pencil editBtn'></i></a>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
        
        <section class="destacados">
            <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Platos Del Día</h1>
            <di class="productos">
                <div class="producto">
                    <a href="menu#otro">
                        <img src="/images/otros1.jfif" alt="otros 1">
                        <div class="infoProd">
                            <h5>Comida 1</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident
                                eligendi reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet
                                exercitationem reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                            </p>
                        </div>
                    </a>
                </div>
                <div class="producto">
                    <a href="menu#otro">
                        <img src="/images/otros2.jfif" alt="otros 2">
                        <div class="infoProd">
                            <h5>Comida 2</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident
                                eligendi reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet
                                exercitationem reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                            </p>
                        </div>
                    </a>
                </div>
                <div class="producto">
                    <a href="menu#hamburguesaDeLegumbre">
                        <img src="/images/Hamburguesas.jfif" alt="Hamburguesas">
                        <div class="infoProd">
                            <h5>Hamburguesas</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident
                                eligendi reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet
                                exercitationem reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                            </p>
                        </div>
                    </a>
                </div>
            </di>
        </section>
    </div>
</main>