<style>
    .menuNavLink{
        background-color:rgba(140, 172, 150, 0.562);
    }
</style>
    <aside class="menu">
        <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Menú</h1>
        <div id="flecha">
            <i class='bx bxs-right-arrow flecha'></i>
        </div>
        <ul>
            <li class="subindice">
                <h4><a href="menu#pastas" class="linkprod">Pastas</a></h4>
                <ul>
                    <li><a href="#" class="linkprod">Fideos con salsa blanca</a></li>
                    <li><a href="#" class="linkprod">Ñoquis</a></li>
                    <li><a href="menu#lasagna" class="linkprod">Lasagna de verdura</a></li>
                    <li><a href="#" class="linkprod">Capelettinni</a></li>
                </ul>
            </li>
            <li class="subindice">
                <h4><a href="menu#hamburguesas" class="linkprod">Hamburguesas</a></h4>
            <li><a href="#" class="linkprod">De berenjena</a></li>
            <li><a href="menu#hamburguesaDeLegumbre" class="linkprod">De legumbre</a></li>
            <li><a href="#" class="linkprod">De legumbres con cheddar</a></li>
            </li>
            <li class="subindice">
                <h4><a href="menu#pizzas" class="linkprod">Pizzas</a></h4>
            <li><a href="#" class="linkprod">Simple</a></li>
            <li><a href="#" class="linkprod">De tomate</a></li>
            <li><a href="#" class="linkprod">De 4 quesos</a></li>
            </li>
            <li class="subindice">
                <h4><a href="menu#otro" class="linkprod">Otros</a></h4>
            </li>
        </ul>
    </aside>
    <main>
        <section class="destacados">
            <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Platos Del Día</h1>
            <div class="productos">
                <h2 id="pastas" class="cursiva" style="margin-left: 70px; text-decoration: underline black;">Pastas</h2>
                <div class="producto">
                    <img src="/images/lasagna.jfif" alt="comida 1">
                    <div id="lasagna" class="info">
                        <h5>Comida 1</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident eligendi
                            reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet exercitationem
                            reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                        </p>
                    </div>
                </div>
                <h2 id="hamburguesas" class="cursiva" style="margin-left: 70px; text-decoration: underline black;">
                    Hamburguesas</h2>
                <div class="producto">
                    <img src="/images/Hamburguesas.jfif" alt="comida 3">
                    <div id="hamburguesaDeLegumbre" class="info">
                        <h5>Comida 3</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident eligendi
                            reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet exercitationem
                            reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                        </p>
                    </div>
                </div>
                <h2 id="pizzas" class="cursiva" style="margin-left: 70px; text-decoration: underline black;">Pizzas</h2>
                <div class="producto">
                    <img src="/images/Pizza de 4 quesos.jfif" alt="comida 2">
                    <div class="info" id="pizza4quesos">
                        <h5>Comida 2</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident eligendi
                            reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet exercitationem
                            reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                        </p>
                    </div>
                </div>
                <h2 class="cursiva" id="otro" style="margin-left: 70px; text-decoration: underline black;">Otro</h2>
                <div class="producto">
                    <img src="/images/otros2.jfif" alt="comida 2">
                    <div class="info">
                        <h5>Comida 4</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident eligendi
                            reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet exercitationem
                            reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                        </p>
                    </div>
                </div>
                <div class="producto">
                    <img src="/images/otros1.jfif" alt="comida 1">
                    <div class="info">
                        <h5>Comida 5</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquid provident eligendi
                            reiciendis culpa placeat, molestias ad laborum accusamus tenetur amet exercitationem
                            reprehenderit! Ducimus alias tempora ea. A, expedita voluptatum?
                        </p>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </main>